name: gitkey itests (linux)

on:
  pull_request:

jobs:
  itests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.development.txt
      - name: Run integration tests
        run: |
          invoke test-integration
